  <div id="loginModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <a href="http://www.explorviz.net" target="_blank"><img
            width="65%" class="center-block"
            src="images/explorviz-transparent.png" /></a>
          </div>
          <div class="modal-body">
            <div id="failure" style="color: #FF0000; text-align: center; font-weight: bold; font-size: 150%; padding-bottom: 1em">
              {{#if errorMessage}}
              {{errorMessage}}
              {{/if}}
            </div>
            <form class="form center-block"
            {{action 'authenticate' on='submit'}}>
            <div class="form-group">
              {{input id='identification' placeholder='Username' value='DemoUser' class="form-control input-lg"}}
            </div>
            <div class="form-group">
              {{input type="password" id='password' placeholder='password' value='password' class="form-control input-lg"}}
            </div>
            <div class="form-group">
              <button class="btn btn-primary btn-lg btn-block">Sign In</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>