<div id='chart' class='versionbar' vis='hide'/>

  <div class="container-fluid" style="position: fixed; width: 100%; bottom: 20px; background:white;">
    <div class="row">
      <div class="col-sm-offset-5 col-sm-2 text-center">
        <a {{action 'toggleVersionbar'}}>
          <span id="toggleVersionbarButton" class="glyphicon glyphicon-collapse-up"></span>
        </a>
        {{landscape-uploader}}
      </div>
    </div>
  </div>
