<div id='timeline' class='timeline' vis='hide'>
  <canvas id='timelinePlot' ></canvas>
</div>

<!-- toggle hiding timeline -->
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-offset-5 col-sm-2 text-center">
      <a {{action 'toggleTimeline'}}>
        <span id="toggleTimelineButton" class="glyphicon glyphicon-chevron-up"></span>
      </a>
      <a {{action 'playPauseTimeshift'}}>
        <span id="playPauseTimelineButton" class="glyphicon glyphicon-pause"></span>
      </a>
    </div>
  </div>
</div>