<div id='timeline' class='timeline' vis='hide'>
  <canvas id='timelinePlot' ></canvas>
</div>

<!-- toggle hiding timeline -->
<div class="row no-margin">
  <div class="col-sm-offset-5 col-sm-2 text-center">
    <button {{action 'toggleTimeline'}} id="toggleTimelineButton" type="button" class="btn btn-default text-center">Toggle Timeline</button>
  </div>
</div>