<!--CSS in styles/_main.scss-->
<div class=container-fluid>
<div class="col-xs-2"> <!-- required for floating -->
  <!-- Nav tabs -->
  <ul class="nav nav-tabs tabs-left sideways">
    <li class="active"><a href="#timeline-v" data-toggle="tab">Timeline</a></li>
    <li><a href="#upload-v" data-toggle="tab">Upload</a></li>
</ul>
</div>

<div class="col-xs-10">
  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane active" id="timeline-v">{{time-shift}}</div>
    <div class="tab-pane" id="upload-v">{{timestamp-versionbar}}</div>
</div>
</div>
</div>
