<form {{action 'createuser' on='submit'}}>
  <div class="form-group">
    <label for="inputUsername">Username</label>
    {{input value=username placeholder='Enter Username' class="form-control" id="inputUsername" autofocus="true"}}
  </div>
  <div class="form-group">
    <label for="inputPassword">Password</label>
    {{input value=password placeholder='Password' class="form-control" id="inputPassword" type="password"}}
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>