<h3 class="popover-header">
  <div class="text-center text-break font-weight-bold pl-1">{{this.name}}</div>
</h3>
<div class="popover-body">
  <table class="w-100">
    <tbody>
      <tr>
        <td>Contained Classes:</td>
        <td class="text-right text-break pl-1">
          {{this.clazzCount}}
        </td>
      </tr>
      <tr>
        <td>Contained Packages:</td>
        <td class="text-right text-break pl-1">
          {{this.packageCount}}
        </td>
      </tr>
    </tbody>
  </table>
</div>
