{{#if showSpinner}}
  <div class="explorVizModal">
    {{ember-spinner lines=11 length=16 radius=30 width=8 rotate=10 speed='1.1' color="#ffffff"}}
  </div>
{{/if}}

<div class="text-center" style="margin-bottom: 5px;">
  <button type="button" class="btn btn-success" {{action "saveAgent"}}>Save</button>
</div>

{{#bs-tab as |tab|}}
  {{#tab.pane title=(name-selector agent.ip agent.name)}}
    {{discovery/agent-details-tables/general-information agent=agent}}
  {{/tab.pane}}
{{/bs-tab}}

<!-- {{name-selector agent.ip agent.name}} - <b>General Information</b> -->