{{#if showSpinner}}
  <div class="explorVizModal">
    <div class="spinner-center-5" style="color: white">
    </div>
  </div>
{{/if}}

<div class="btn-group align-self-center d-block" role="group">
  <button {{action "saveAgent"}} type="button" class="btn btn-secondary">Save</button>
</div>

<div id="discovery-details-tab" class="mt-3">
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active" id="nav-general-tab" data-toggle="tab" href="#nav-general" role="tab" aria-controls="nav-general" aria-selected="true">
        {{name-selector agent.ip agent.name}}
      </a>
    </div>
  </nav>
  <div class="tab-content">
      <div class="tab-pane fade show active" id="nav-general" role="tabpanel" aria-labelledby="nav-general-tab">
        {{discovery/agent-details-tables/general-information agent=agent}}
      </div>
  </div>
</div>

<!-- {{name-selector agent.ip agent.name}} - <b>General Information</b> -->