{{#if showHiddenMessage}}
  <div class="container-fluid">
    <div class="jumbotron">
      <h2>All agents are hidden!</h2>
      <p>Go to Settings an enable 'Show hidden entities' or click <a {{action "enableShowHidden" preventDefault=false}}>here</a>
      </p>
    </div>
    <div class="spinner-center-3" role="status"></div>
  </div>
{{else}}
  {{#if agentRepo.agentList}}
    <div id="cy" class="cytoscape-container"></div>
  {{else}}
    <div class="container-fluid">
      <div class="jumbotron">
        <h2>No agents found!</h2>
        <p>To enable the discovery mode, follow
          <a 
            href="https://github.com/explorviz/explorviz-discovery-agent">the setup steps as shown in the related Github README file.
          </a>
        </p>        
        <p>No agent registered with the backend at the moment. A new list will be fetched every 10 seconds.</p>
      </div>
      <div class="d-flex justify-content-center">
        <div class="spinner-center-3-relative" role="status">
        </div>
      </div>
    </div>
  {{/if}}
{{/if}}