.ajs-message.ajs-message { 
  color: #ffffff !important;  
  background-color: #44a9d5 !important;  
  border-color: #142746 !important; 
}

.ajs-message.ajs-error { 
  color: #ffffff !important;  
  background-color: #ef5350 !important;  
  border-color: #ff0000 !important; 
}

.ajs-message.ajs-warning { 
  color: #000000 !important;  
  background-color: #ffeb3b !important;  
  border-color: #c8b900 !important; 
}

.ajs-message.ajs-success { 
  color: #ffffff !important;
  background-color: #66bb6a !important;  
  border-color: #338a3e !important; 
}