#discovery-details-tab,
#configuration-tab {
  @extend .d-flex;
  @extend .flex-column;
  @extend .flex-grow-1;
  min-height: 0;
}

#discovery-details-tab > .tab-content,
#configuration-tab > .tab-content {
  @extend .d-flex;
  flex: 1 1 100%;
  min-height: 0;
}

#discovery-details-tab > nav {
  flex-direction: column;
}

#discovery-details-tab > .tab-content > .tab-pane {
  flex: 0 0 100%;
  overflow-y: auto;
  min-height: 0;
}

#discovery-details-tab table {
  @extend .mb-0;
}