/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

.footer {
  background-color: #f5f5f5;
}

.footer ul > li:nth-child(n+2) {
  @extend .ml-2;
  @extend .pl-2;
  @extend .ml-md-3;
  @extend .pl-md-3;
  border-left: 1px solid;
}

.footer ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}

