html, body {
  overflow: hidden;
  height: 100vh;
}

body > .ember-view {
  height: 100%;
  @extend .d-flex;
  @extend .flex-column;
}

.main-content {
  overflow: hidden;
  @extend .ml-3;
  @extend .mr-3;
  @extend .pt-3;
  @extend .pb-3;
  @extend .flex-grow-1;
  @extend .d-flex;
  @extend .flex-column;
  margin-top: 64px;
}

.main-content > .row {
  @extend .flex-grow-1;
}

#vizspace {
  @extend .d-flex;
  @extend .flex-column;
}

#rendering {
  @extend .flex-grow-1;
  @extend .mt-3;
}

#dataselection {
  display: flex;
  @extend .flex-row;
}

.canvasViz {
  height: 100%;
  width: 100%;
}

.no-margin{
  margin: 0px;
}

.hide {
  display: none !important;
}

#discovery-details-tab {
  @extend .d-flex;
  @extend .flex-column;
  @extend .flex-grow-1;
  min-height: 0;
}

#discovery-details-tab > .tab-content {
  @extend .d-flex;
  flex: 1 1 100%;
  min-height: 0;
}

#discovery-details-tab > nav {
  flex-direction: column;
}

#discovery-details-tab > .tab-content > .tab-pane {
  flex: 0 0 100%;
  overflow-y: auto;
  min-height: 0;
}

#discovery-details-tab table {
  @extend .mb-0;
}

//Additional classes

.nav.navbar-nav > li > a{
  cursor: pointer;
  color: #777;
  border-radius: 10px;
}

.nav.navbar-nav > li > a:hover{
  background-color: #f1f1f1;
  box-shadow: 0px 0px 0px 1px #e6e6e6;
}

#navbar-octicons:last-child{
  border-right-style: solid;
  border-right-color: #e6e6e6;
  border-right-width: 1px;
}

.navbar-no-hover-effect {
  background-color:transparent !important;
  cursor: default !important;
  box-shadow: none !important;
}

.navbar-button-height-fix {
  height: 30px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  vertical-align: middle !important;
}

.scrollable-extension {
  max-height: 40%;
}

.container-shadow:hover {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}


.container-word-wrap {
  word-break: break-word;
}

.cytoscape-container {
  @extend .d-flex;
  @extend .flex-grow-1;
}

.scroll-container {
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 100%;
}

.no-horizontal-scroll {
  resize: vertical;
}

.darker-accordion-header {
  background-color: #e8e8e8 !important;
}

.relative {
  position: relative;
}

.explorVizModal {
  background-color: #8e8e8e;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1000;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  cursor: wait;
  box-shadow: 5px 10px #888888;
  border-radius: 10px;
}

.inline {
  display: inline;
}

.tooltip-component > a {
  color: #777;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #d2d2d2;
}

::-webkit-scrollbar-thumb {
  background:#989898; 
  border-radius: 5px;
}