html, body {
  overflow: hidden;
  position: relative;
  height: 100vh;
  touch-action: none;
}

#main-container {
  height: 100%;
  @extend .d-flex;
  @extend .flex-column;
}

#vizspace {
  @extend .d-flex;
  @extend .flex-column;
  height: 100%;
}

#rendering {
  @extend .d-flex;
  @extend .flex-grow-1;
  max-height: 100%;
  position: relative;
}

.canvasViz {
  height: 100%;
  width: 100%;
}

.autoMargin {
  margin: auto;
}

.no-margin{
  margin: 0px;
}

.foreground {
  z-index: 750;
}

.half-transparent {
  opacity: 50%;
}

.hide {
  display: none !important;
}

#configuration-tab > .tab-content > .tab-pane.active {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

// Disable double tap to zoom for mobile devices
* {
touch-action: pan-y;
}

//Additional classes

.container-word-wrap {
  word-break: break-word;
}

.no-horizontal-scroll {
  resize: vertical;
}

.relative {
  position: relative;
}

.flex-1 {
  flex: 1;
}

.mt-6 {
  margin-top: 4rem !important;
}

.border-radius-0 {
  border-radius: 0 !important;
}

.inline {
  display: inline;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #d2d2d2;
}

::-webkit-scrollbar-thumb {
  background:#989898; 
  border-radius: 5px;
}


// Needed for firefox, since the scrollbar might else overlap the options
li.ember-power-select-option {
  padding-left: 8px;
  padding-right: 22px;
}

.removecaret.dropdown-toggle::after {
  display: none!important;
}

.dropdown-item.active,
.dropdown-item:active {
  color: #212529;
  background-color: rgba(0, 0, 0, 0.05);
}

svg.octicon + span {
  margin-left: 5px;
}

svg.octicon {
  fill: currentColor;
}

.d-flex-center {
  align-items: center!important;
  display: flex!important;
}

.d-contents {
  display: contents!important;
}

.btn-primary {
  color: #fff;
  background-color: #22497c;
  border-color: #22497c;
}

.btn-primary:hover {
  background-color: #406da7;
  border-color: #406da7;
}

.pointer-cursor {
  cursor: pointer;
}

.all-unset {
  all: unset;
}

@mixin centerSpinners() {
  @for $i from 1 through 5 {
    .spinner-center-#{$i} {
      @extend .spinner-border;
      position: absolute;
      top: calc(50% - #{calc($i / 2)}rem);
      left: calc(50% - #{calc($i / 2)}rem);
      width: #{$i}rem;
      height: #{$i}rem;
    }
  }
}

* { @include centerSpinners(); }

.spinner-center-3-relative {
  @extend .spinner-center-3;
  position: relative;
}

.buttonToLink{
  background: none;
  border: none;
  color: #0000FF;
}

.buttonToLink:hover{
  background: none;
  text-decoration: underline;
}
