html, body{
  height: 100%;
}

body > .ember-view {
  height: 100%;
}

.viz {
  height: 100%;
  width: 100%;
}

.canvasViz {
  height: 100%;
  width: 100%;
}

.no-margin{
  margin: 0px;
}

//Additional classes

.nav.navbar-nav > li > a{
  cursor: pointer;
  color: #777;
  border-radius: 10px;
}

.nav.navbar-nav > li > a:hover{
  background-color: #f1f1f1;
  box-shadow: 0px 0px 0px 1px #e6e6e6;
}

#addon-navbar-right:last-child{
  border-right-style: solid;
  border-right-color: #e6e6e6;
  border-right-width: 1px;
}

.scrollable-extension {
  max-height: 40%;
}
