.nav-link-with-cursor {
  @extend .nav-link;
  cursor: pointer;
}

.nav-item-with-def-cursor {
  @extend .nav-item;
  cursor: default!important;
}

.explorviz-top-navbar {
  @extend .navbar;
  @extend .navbar-expand-lg;
  @extend .navbar-light;
  @extend .mb-2;
  background-color: #eff0f1;
}

.explorviz-visualization-navbar {
  @extend .bg-light;
  @extend .pl-3;
  @extend .pr-3;
  align-self: center;
  border-radius: .5rem;
  border-style: solid;
  border-width: 1px;
  border-color: lightgray;
}

.explorviz-visualization-navbar > ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: row;
}

.explorviz-visualization-navbar > ul > li {
  @extend .my-2;
}

.nav.navbar-nav > li > a:hover {
  box-shadow: none;
}