@media (min-width: 576px) {
  .popover {
    cursor: move;
    max-width: 550px!important;
  }
}

@media (max-width: 575.98px) {
  .popover > .popover-body {
    overflow-x: auto;

    > table {
      display: inline-table;
    }
  }
}

.popover > .popover-body {
  max-height: 50vh;
  overflow-y: auto;
}