#timeline-content {
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: white;
}

.plotlyDiv {
  height: 150px;
}

.timeline {
  background-color: white;
  border-top: darkgray 1px solid;
  transition: 0.7s ease-in-out;
  opacity: 1;
  height: 150px;
  margin-bottom: 10px;
}

.timelinehide {
  height: 0;
  opacity: 0;
  margin-bottom: 0;
  overflow: hidden;
}

#timelineCanvas {
  border-top: darkgray 1px solid;
}

.btn-timeline {
  border-bottom: none!important;
  border-color: darkgray;
  border-bottom-right-radius: 0!important;
  border-bottom-left-radius: 0!important;
  background-color:white!important;
  left: 50%;
  transform: translate(-50%, -26px);
  z-index: 490;
  height: 27px;
  position: absolute;
  padding-top: 0!important;
  padding-bottom: 0!important;
}

.btn-timeline:focus {
  box-shadow: none!important;
}

.btn-timeline:hover {
  background-color: #6c757d!important;
}

.hidetimeline-icon-down {
  transform:rotate(180deg);
}

.timeline-no-content {
  height: 50px;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 50px;
  border-style: solid;
}

.timeline-no-timestamps-inner {
  border: 1px black solid;
  background: #85959a;
  opacity: 0.9;
  display: flex;
  align-items: center;
  padding: 1rem;
  color: white;
  text-shadow: 2px 2px 3px rgb(0, 0, 0);
}

.timeline-no-timestamps-outer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  z-index: 490;
  width: 100%;
  height: 150px;
}

.timeline-blur-effect {
  filter: blur(.1rem) opacity(0.5);
}