@include media-breakpoint-up(xs) {
  .timeline, .versionbar{
    height: 100px;
    width: calc(100% - 10px);
    bottom: 72px;
    position: fixed !important;
  }
}

@include media-breakpoint-up(md) {
  .timeline, .versionbar{
    height: 100px;
    width: calc(100% - 10px);
    bottom: 40px;
    position: fixed !important;
  }
}