@include media-breakpoint-up(xs) {
  .timeline, .versionbar{
    height: 100px;
    max-height: 100px!important;
    width: calc(100% - 10px);
    position: relative;
  }
}

@include media-breakpoint-up(md) {
  .timeline, .versionbar{
    height: 100px;
    max-height: 100px!important;
    width: calc(100% - 10px);
    position: relative;
  }
}