.nav-link-with-cursor {
  @extend .nav-link;
  cursor: pointer;
}

.nav-item-with-def-cursor {
  @extend .nav-item;
  cursor: default!important;
}

.navbar-highlight {
  color: red;
}

.explorviz-visualization-navbar {
  @extend .bg-light;
  @extend .pl-3;
  @extend .pr-3;
  position: relative;
  z-index: 750;
  align-self: center;
  background-color: #dbdbdb;
  width: 100%;
}

.explorviz-visualization-navbar > ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: row;
}

.explorviz-visualization-navbar > ul > li {
  @extend .my-1;
}

.explorviz-visualization-navbar > ul.nav > li.nav-item {
  cursor: pointer;
  transition: all .1s ease-in-out;
  color: rgba(0, 0, 0, 0.5);
}

.explorviz-visualization-navbar > ul.nav > li.nav-item:hover {
  color: rgb(85 126 187 / 95%);
  transform: scale(1.1);
}
