<button
  {{did-insert this.setup}}
  id="sidebarDragButton"
  type="button"
  class="btn btn-light btn-outline-dark"
  title="Resize Sidebar"
  aria-label="Resize"
  >
  <span aria-hidden="true">&harr;</span>
</button>