<div class="container" style="overflow-y: auto">
  <div class="col-12">
    {{#let (component "user-management/user-settings") as |UserSettings|}}
      <UserSettings @user={{this.model.user}} />
    {{/let}}
  </div>
</div>