app/router.js
app/app.ts
vendor/
dist/

public/assets/web-workers/*


# in-repo addons somehow get these addon/addon and app/app project structure
# when merged with the main project. This throws errors on .js files
# with eslint, so we ignore them.
lib/virtual-reality/addon/addon/utils/lib/**/*
lib/virtual-reality/app/app/**/*

lib/collaborative-mode/app/app/**/*
lib/virtual-reality/addon/utils/lib/**/*

tests/
