# See http://help.github.com/ignore-files/ for more about ignoring files.

# MacOS related files
.DS_Store

# WebStorm project config
/.idea/*

# compiled output
/dist
/tmp

# dependencies
/node_modules
/bower_components

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log*
testem.log
package-lock.json
jsconfig.json
