---
language: node_js
node_js:
  - "8"

sudo: false

cache:
  directories:
    - node_modules

before_script:
  - chmod +x .travis/push.sh    
    
before_install:
  - npm config set spin false
  - npm install -g ember-cli
  - npm install phantomjs-prebuilt
  - node_modules/phantomjs-prebuilt/bin/phantomjs --version

install:
  - npm install

script:
  - npm test
  - ember build -prod
  
after_success:
  - .travis/push.sh
  
env:

branches:
  only:
  - master
