<div>
  <h3>User Settings</h3>
  <hr>
  <div class="mt-2">
    {{user-management/user-settings-base
      booleans=this.user.settings.booleanAttributes
      numerics=this.user.settings.numericAttributes
      strings=this.user.settings.stringAttributes
      descriptions=this.descriptions
    }}

    {{#bs-button onClick=(action "saveSettings") type="primary" buttonType="submit"}}
      Save
    {{/bs-button}}
  </div>
</div>

{{#if this.showSpinner}}
  {{ember-spinner}}
{{/if}}