<div>
  <h3>User Settings</h3>
  <hr>
  <div class="mt-2">
    {{#if this.copySettings.isRunning}}
      <div class="spinner-center" role="status"></div>
    {{else}}
      {{user-management/user-settings-base settings=this.settings}}

      {{#if this.saveSettings.isRunning}}
        {{#bs-button type="primary" buttonType="submit" disabled=true}}
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          Saving...
        {{/bs-button}}
      {{else}}
        {{bs-button defaultText="Save Changes" onClick=(perform saveSettings) type="primary" buttonType="submit"}}
      {{/if}}
    {{/if}}
  </div>
</div>