{{#each-in this.settings as |key value|}}
  <h6>{{capitalize key}}</h6>
  <div class="pl-3">
    <div class="d-flex justify-content-between pr-3">
      <div>
        Use Default Settings
      </div>
      <XToggle
        @theme='skewed'
        @onLabel='Yes'
        @offLabel='No'
        @value={{get this.useDefaultSettings key}}
        @onToggle={{action (mut (get this.useDefaultSettings key))}}
      />
    </div>
    {{#unless (get this.useDefaultSettings key)}}
      <div class="pt-2">
        <UserManagement::UserSettingsBase @settings={{value}} />
      </div>
    {{/unless}}
  </div>
  <hr>
{{/each-in}}