<div>
  <h3>User Settings</h3>
  <hr>
  <div class="mt-2">
    {{user-management/user-settings-base settings=this.user.settings}}

    {{#bs-button onClick=(action "saveSettings") type="primary" buttonType="submit"}}
      Save
    {{/bs-button}}
  </div>
</div>

{{#if this.showSpinner}}
  {{ember-spinner}}
{{/if}}