<h3 class="popover-header">
  <div style="font-weight:bold;text-align:center;">{{this.name}}</div>
</h3>
<div class="popover-body" style="white-space: nowrap;">
  <table style="width:100%">
    <tbody>
      <tr>
        <td>Nodes:</td>
        <td style="text-align:right;padding-left:10px;">
          {{this.nodeCount}}
        </td>
      </tr>
      <tr>
        <td>Applications:</td>
        <td style="text-align:right;padding-left:10px;">
          {{this.applicationCount}}
        </td>
      </tr>
    </tbody>
  </table>
</div>