{{!-- Outer #link-to is for li-element --}}
{{!-- Inner #link-to is for actual link --}}
{{!-- #link-to handles active link class on it's own --}}

<div id="exp-navbar-routes">
  <ul class="navbar-nav mr-auto">
    {{#each this.pageSetupService.navbarRoutes as |item|}}
      <LinkTo
        @route={{item}}
        @tagName="li"
        class="nav-item"
      >
        <p>{{capitalize item}}</p>
      </LinkTo>
    {{/each}}
  </ul>
</div>