<!-- Outer #link-to is for li-element -->
<!-- Inner #link-to is for actual link -->
<!-- #link-to handles active link class on it's own -->

<div id="exp-navbar-routes">
  <ul class="navbar-nav mr-auto">
    {{#each this.pageSetupService.navbarRoutes as |item|}}
      {{#link-to item tagName="li" class="nav-item" invokeAction=(action (route-action 'resetRoute'))}}
        {{#link-to item tagName="a" class="nav-link"}}{{capitalize item}}{{/link-to}}
      {{/link-to}}
    {{/each}}
  </ul>
</div>