<table class="table table-striped">
  <thead>
    <tr>
      <th class="col-xs-2">Attribute</th>
      <th class="col-xs-10">Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><b>Monitoring Active</b>{{help-tooltip title="Use this button to enable or disable the monitoring for this process. Restart is necessary."}}</td>
      <td>
        <div style="float: left;">                  
          {{x-toggle theme='skewed' onLabel='Yes' offLabel='No' value=toggleStateMonitoring onToggle=(action (mut toggleStateMonitoring))}}
        </div>
      </td>
    </tr>
    <tr>
      <td><b>aop.xml</b>{{help-tooltip title="The aop.xml file contains instruction for monitoring. The embedded include element considers all classes for monitoring. You can try to start your monitoring with this approach, but experience showed that this fails most of the time. Alternatively, insert the source code package which you want to monitor recursively."}}</td>
      <td>
        <div class="form-group">
          {{textarea class="form-control no-horizontal-scroll" rows="15" value=procezz.aopContent}}
        </div>
      </td>
    </tr>
  </tbody>
</table>