<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-left">
        {{#each content as |compName|}}
          <li>
            {{component compName}}
          </li>
        {{/each}}
     </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<!-- 
        <li>
          <a {{action "exportState"}} title="Export URL">
            <span id="exportURLButton" class="glyphicon glyphicon-share"></span>
          </a>
        </li>

-->