  <table style="width:100%">
  <tr>
    <th>TraceID</th>
    <th>Requests</th> 
    <th>Trace Duration</th>
  </tr>
  {{#each traces as |trace|}}
    <tr {{action "traceSelected" trace.traceId}}>
    <td>{{trace.traceId}} </td>
    <td>{{trace.requests}}</td>
    <td>{{trace.overallTraceDuration}}</td>
    </tr>
  {{/each}}
</table>