<div class="container">
  <nav class="explorviz-visualization-navbar">    
    <div class="collapse navbar-collapse">
        <!-- Right content -->
        <ul class="navbar-nav mr-auto">
          {{#each content as |componentName|}}
            {{componentName}}
          {{/each}}
        </ul>
		</div>
  </nav>
</div>