<div class="explorviz-visualization-navbar">
  <!-- Right content -->
  <ul class="nav justify-content-center">
    {{#each content as |componentName|}}
      {{componentName}}
    {{/each}}
  </ul>
</div>