<li class="nav-item mx-2">
  {{#if this.openedActive}}
    <button
      type="button"
      class="nav-link btn btn-sm btn-outline-secondary"
      {{on "click" this.closeAllComponents}}
    >
      Close All Components
    </button>
  {{else}}
    <button
      type="button"
      class="nav-link btn btn-sm btn-outline-secondary"
      {{on "click" this.openAllComponents}}
    >
      Open All Components
    </button>
  {{/if}}
</li>