<li class="nav-item">
  <a class="nav-link-with-cursor" title="Download landscape" {{on "click" (fn this.downloadLandscape @landscape)}}>
    {{svg-jar "cloud-download" class="octicon align-middle"}}
  </a>
</li>