<li class="nav-item">
  <div
    class="nav-link-with-cursor"
    title="Share Landscape"
    {{on "click" this.showShareLandscape}}
  >
    {{svg-jar "mail" class="octicon align-middle"}}
  </div>
</li>