<div id="colorPresets" class="dropdown">
  <button
      class="btn btn-outline-dark dropdown-toggle"
      type="button"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
  >
    Presets
  </button>

  <div class="dropdown-menu dropdown-menu-right">
    {{#each @colorSchemes as |colorScheme|}}
      <div
      class="dropdown-item pointer-cursor"
      {{on "click" colorScheme.action}}
      >
        {{colorScheme.name}}
      </div>
    {{/each}}
  </div>
</div>