<div id="colorPresets" class="dropdown">
  <button
      class="btn btn-outline-dark dropdown-toggle"
      type="button"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
  >
    Color Presets
  </button>

  <div class="dropdown-menu">
    {{#each this.colorSchemes as |colorScheme|}}
      <div
      class="dropdown-item pointer-cursor"
      {{on "click" (fn this.applyColorScheme colorScheme.identifier)}}
      >
        {{colorScheme.name}}
      </div>
    {{/each}}
  </div>
</div>