{{add-listener this.additionalData "showWindow" this.onShowWindow}}

<div>
  <button
    type="button"
    class="btn btn-outline-dark"
    title="Close Sidebar"
    aria-label="Close"
    {{on "click" this.closeWindow}}
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<EmberScrollable>
  <div class="pr-3 ml-2">
    {{#each this.additionalData.shownComponents as |componentName|}}
      <div class="card mb-3">
        <div class="card-body d-flex flex-column">
          {{component componentName}}
        </div>
      </div>
    {{/each}}
  </div>
</EmberScrollable>