<div class="sidebar-component-close">
  <button 
    type="button" 
    class="sidebar-component-close-button" 
    title="Close Share Landscape"
    {{on "click" this.close}}
  >
    {{svg-jar "x" class="octicon"}}
  </button>
</div>
<div id="shareLandscape">
  <div id="shareLandscapeTitle" class="sidebar-component-title">
    <h5>Share Landscape</h5>
  </div>
</div>
