<div class="d-flex text-secondary">
  <div
    class="spinner-grow spinner-grow-sm"
    style="place-self: center"
    role="status"
  >
  </div>
  <span class="ml-1" style="place-self: center">{{@text}}</span>
</div>