<div class="container">
  <div class="row">
    <div class="col-md-2">
      <div class="text-center">Systems</div>
      <div id="cp1" class="input-group colorpicker-component">
        <input type="text" value="#00AABB" class="form-control" />
        <span class="input-group-addon"><i></i></span>
      </div>
    </div>
    <div class="col-md-2">
      <div class="text-center">Nodegroups</div>
      <div id="cp2" class="input-group colorpicker-component">
        <input type="text" value="#00AABB" class="form-control" />
        <span class="input-group-addon"><i></i></span>
      </div>
    </div>
    <div class="col-md-2">
      <div class="text-center">Nodes</div>
      <div id="cp3" class="input-group colorpicker-component">
        <input type="text" value="#00AABB" class="form-control" />
        <span class="input-group-addon"><i></i></span>
      </div>
    </div>
    <div class="col-md-2">
      <div class="text-center">Applications 1</div>
      <div id="cp4" class="input-group colorpicker-component">
        <input type="text" value="#00AABB" class="form-control" />
        <span class="input-group-addon"><i></i></span>
      </div>
    </div>
    <div class="col-md-2">
      <div class="text-center">Applications 2</div>
      <div id="cp5" class="input-group colorpicker-component">
        <input type="text" value="#00AABB" class="form-control" />
        <span class="input-group-addon"><i></i></span>
      </div>
    </div>
    <div class="col-md-2">
      <div class="text-center">Communications</div>
      <div id="cp6" class="input-group colorpicker-component">
        <input type="text" value="#00AABB" class="form-control" />
        <span class="input-group-addon"><i></i></span>
      </div>
    </div>
  </div>
</div>