<div class="container">
  <div class="row">
    <div class="col-md-2">
      <div class="text-center">Systems</div>
      {{#bs-colorpicker color=color format="hex" classNames="input-group"}}
        <input type="text" class="form-control">
        <span class="input-group-addon"><i></i></span>
      {{/bs-colorpicker}}
    </div>
    <div class="col-md-2">
      <div class="text-center">Nodegroups</div>
      {{#bs-colorpicker color=color format="hex" classNames="input-group"}}
        <input type="text" class="form-control">
        <span class="input-group-addon"><i></i></span>
      {{/bs-colorpicker}}
    </div>
    <div class="col-md-2">
      <div class="text-center">Nodes</div>
      {{#bs-colorpicker color=color format="hex" classNames="input-group"}}
        <input type="text" class="form-control">
        <span class="input-group-addon"><i></i></span>
      {{/bs-colorpicker}}
    </div>
    <div class="col-md-2">
      <div class="text-center">Applications</div>
      {{#bs-colorpicker color=color format="hex" classNames="input-group"}}
        <input type="text" class="form-control">
        <span class="input-group-addon"><i></i></span>
      {{/bs-colorpicker}}
    </div>
    <div class="col-md-2">
      <div class="text-center">Communications</div>
      {{#bs-colorpicker color=color format="hex" classNames="input-group"}}
        <input type="text" class="form-control">
        <span class="input-group-addon"><i></i></span>
      {{/bs-colorpicker}}
    </div>
  </div>
</div>