<li class="nav-item ml-2">
  <form {{action 'focusEntity' on="submit" }} class="form-inline" style="flex-flow: row;">
    {{input value=searchString placeholder="Search Entity" class="form-control" aria-label="Search"}}
    <button class="btn btn-outline-success ml-2" type="submit">
      {{svg-jar "search" class="octicon align-middle"}}
    </button>
  </form>
</li>
