<li class="nav-item mx-2">
  {{#unless openedActive}}
  <button class="nav-link btn btn-sm btn-outline-secondary" {{action "openAllComponents"}} type="button">Open All Components</button>
  {{else}}
  <button class="nav-link btn btn-sm btn-outline-secondary" {{action "closeAllComponents"}} type="button">Close All Components</button>
  {{/unless}}
</li>