<li class="nav-item ml-2">

    <!-- CSS styling https://ember-power-select.com/cookbook/css-animations -->

    {{!-- Maybe not the nicest option to use multiple select for single select
          However, the search inside the trigger seems more intuitive
     --}}
    {{#power-select-multiple
      triggerClass="bootstrap-theme-trigger form-control"
      search=(perform searchEntity)
      searchMessage="Insert name or start with '*'"
      placeholder="Search Entity..." 
      onchange=(action "onSelect")
      selected=selectedEntity
      loadingMessage="loading..."
      matchTriggerWidth=false
      as |entity|
    }}
      {{entity.name}}
    {{/power-select-multiple}}
</li>