<a class="navbar-no-hover-effect" style="padding-top: 10px; padding-bottom: 10px;">
  <button {{action "openAllComponents"}} type="button" 
  class="btn btn-default navbar-button-height-fix">
    Open all Components
  </button>
</a>