<a style="padding-top: 10px; padding-bottom: 10px; background-color:transparent;">
  <button {{action "openAllComponents"}} type="button" class="btn btn-default" 
  style="height: 30px; padding-top: 0px; padding-bottom: 0px; 
  vertical-align: middle">Open all Components
  </button>
</a>