<li class="nav-item ml-2">

    <!-- CSS styling https://ember-power-select.com/cookbook/css-animations -->

    {{#power-select
      triggerClass="bootstrap-theme-trigger form-control"
      search=(perform searchEntity)
      placeholder="Search Entity..." 
      onchange=(action "focusEntity")
      calculatePosition=reCalculateDropdown
      as |entity|
    }}
      {{entity.name}}
    {{/power-select}}
</li>