<!--
    Hidden HTML input is programatically clicked, when the user clicks 
    the HTML a element
-->
<input id="selectBox" onchange={{action "uploadFile"}} type="file" style="display:none;" />
<li class="nav-item">
  <a class="nav-link-with-cursor" title="Upload file" {{action "triggerSelectBox"}}>
    {{svg-jar "cloud-upload" class="octicon align-middle"}}
  </a>
</li>