<!-- TODO disabled until fixed
<li class="nav-item">
  <a class="nav-link-with-cursor" title="Toggle timeline" {{action "toggleTimeline"}}>
    {{svg-jar "unfold" class="octicon align-middle"}}
  </a>
</li>
-->