<table class="table table-striped">
  <thead>
    <tr>
      <th class="col-xs-6">Settings</th>
      <th class="col-xs-6"></th>
    </tr>
  </thead>
  <tbody>
    {{#each this.settings as |setting|}}
      <tr>
        <td>
          <b>{{setting.name}}</b>
          <HelpTooltip @title={{setting.tooltip}} />
        </td>
        <td>
          <div style="float: left;">
            <XToggle
              @theme="skewed"
              @onLabel="Yes"
              @offLabel="No"
              @value={{setting.value}}
              @onToggle={{setting.onToggle}}
            />
          </div>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>