{{#unless timestamps.length}}
  <div id="timeline-no-timestamps-outer">
    <div id='timeline-no-timestamps-inner'>
      No timestamps available!
    </div>
  </div>
  <div id='plotlyDiv' class="timeline-blur-effect"></div>
{{else}}
  <div id='plotlyDiv'></div>
{{/unless}}