<hr style="border-top: 1px solid rgba(0, 0, 0, 0.2)">
<div class="text-center">
  Version 1.5.0
</div>
<div class="mt-2 text-center">
  <span>© 2013 - 2020</span>
  by the <a href="https://www.explorviz.net" target="_blank">ExplorViz project</a>
</div>
