<footer class="footer">
  <div class="container-fluid pt-2 pb-2">
    <div class="row justify-content-end">
      <div class="col-md-8 col-12 text-center">
        <ul class="d-flex justify-content-center pl-0 mb-0">
          <li>
            <span>© 2013 - 2019</span>
            by the <a href="https://www.explorviz.net" target="_blank">ExplorViz project</a>
          </li>
        </ul>
      </div>
      <div class="mt-2 mt-md-0 col-md-2 col-12 text-md-right text-center">
        v1.3.0
      </div>
    </div>
  </div>
</footer>
