{{#each this.pageSetupService.navbarOcticons as |item|}}
  <li class="nav-item">
    <!-- Attention: Each item must provide a template with an icon and the correct bootstrap classes -->
    {{component item}}
  </li>
{{/each}}