<div class="col-12 d-flex flex-column">
  <div>
    <BsButton
      @onClick={{route-action "goBack"}}
      @type="secondary"
      @outline={{true}}
      @title="Back to User List"
      class="px-2"
    >
      {{svg-jar "arrow-left-24" class="octicon align-middle"}}
    </BsButton>
  </div>
  <UserManagement::UserCreation />
</div>