<div class="col-12 d-flex flex-column">
  <div>
    <BsButton
      title="Back to User List"
      @onClick={{route-action "goBack"}}
      @type="secondary"
      @outline={{true}}
    >
      {{svg-jar "reply" class="octicon align-middle"}}
    </BsButton>
  </div>
  <UserManagement::UserCreation />
</div>