<div
  id="rendering"
  {{did-insert this.outerDivInserted}}
  {{did-resize this.resize debounce=100}}
>
  <canvas
    class="main-content-majority"
    {{did-insert this.canvasInserted}}
  >
  </canvas>
</div>