<div class="popover">
    <h3 class="popover-header">
        <div style="font-weight:bold;text-align:center;">{{data.componentName}}</div>
    </h3>
    <div class="popover-body" style="white-space: nowrap;">

        <table style="width:100%">
            <tr>
                <td>Contained Classes:</td>
                <td style="text-align:right;padding-left:10px;"> {{data.containedClazzes}}
                </td>
            </tr>
            <tr>
                <td>Contained Packages:</td>
                <td style="text-align:right;padding-left:10px;"> {{data.containedPackages}}
                </td>
            </tr>
        </table>
    </div>
</div>