<div {{did-insert this.setupDragElement}} id="heatmapInfo" class="foreground" style="position: absolute; cursor: move">
  <HeatmapLegend />
  <MetricSelector
    @metrics={{@metrics}}
    @selectMetric={{@updateMetric}}
    @selectedMetric={{@selectedMetric}}
  />
</div>
