<div class="popover">
    <h3 class="popover-header">
        <div style="font-weight:bold;text-align:center;">{{data.applicatioName}}</div>
    </h3>
    <div class="popover-body" style="white-space: nowrap;">

        <table style="width:100%">
            <tr>
                <td>Last Usage:</td>
                <td style="text-align:right;padding-left:10px;"> {{data.lastUsage}}
                </td>
            </tr>
            <tr>
                <td>Language:</td>
                <td style="text-align:right;padding-left:10px;"> {{data.language}}
                </td>
            </tr>
        </table>
    </div>
</div>