<div>
  <button {{action "closeWindow"}} title="Close Sidebar" type="button" class="btn btn-outline-dark" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{{#ember-scrollable}}
  <div class="pr-3 ml-2">
    {{#each additionalData.shownComponents as |componentName|}}
      <div class="card mb-3">
        <div class="card-body">
          {{component componentName}}
        </div>
      </div>
    {{/each}}
  </div>
{{/ember-scrollable}}