<div class="d-flex flex-row vh-100">
  {{#if (and this.session.isAuthenticated (not this.loadUserAndSettings.isRunning))}}
    <PageSetup::Navbar />
  {{/if}}

  <div id="vizContainer" class="main-content">
    {{outlet}}
  </div>
</div>