{{#bs-tab id="configuration-tab"customTabs=true as |tab|}}
  <nav>
    {{#bs-nav type="tabs" as |nav|}}
      {{#nav.item class="nav-link-with-cursor" onClick=(action tab.select "userManagementPane") active=(bs-eq tab.activeId "userManagementPane")}}User Management{{/nav.item}}
      {{#nav.item class="nav-link-with-cursor" onClick=(action tab.select "userSettingsPane") active=(bs-eq tab.activeId "userSettingsPane")}}Settings{{/nav.item}}
    {{/bs-nav}}
  </nav>
  
  <div class="tab-content mt-5">
    {{#tab.pane elementId="userManagementPane" title="User Management"}}
      {{#if (eq tab.activeId "userManagementPane")}}
        {{user-management}}
      {{/if}}
    {{/tab.pane}}
    {{#tab.pane elementId="userSettingsPane" title="Settings"}}
      {{#if (eq tab.activeId "userSettingsPane")}}
        <div class="container" style="overflow-y: auto">
          <div class="col-12">
            {{user-settings}}
          </div>
        </div>
      {{/if}}
    {{/tab.pane}}

    <!-- Tab pane for each addon that is registered at configurationService -->
    {{#each configurationService.pluginSettings as |addon|}}
      {{#tab.pane title=addon}}
        {{component addon}}
      {{/tab.pane}}
    {{/each}}
  </div>
{{/bs-tab}}