<button {{action "exportView"}}>Export link</button>
{{#if showLandscape}}  
  {{landscape-rendering exportCam="exportCamera" renderingModel=model showApplication="handleApplication"}}
{{else}}
  {{application-rendering renderingModel=lastShownApplication}}
{{/if}}
