<!-- <button onclick={{action copyURL}}>Copy URL</button> -->
{{#if showLandscape}}
  {{landscape-rendering renderingModel=model showApplication="handleApplication"}}
{{else}}
  {{application-rendering renderingModel=lastShownApplication}}
{{/if}}